{% extends 'hltv/base.html' %}
{% load static %}
{% block title %}  Events {% endblock %}


<!-- <a href="{% url 'hltv:index' %} " class="text-left">
    <img src="{% static 'hltv/img/hltv_img.png' %}" >
    <h1 class="text-light">HLTV</h1>
</a> -->

{% block content %} 



<div class="container">
    <div class="row">
        <div class="col-2">
            <a href="/hltv/" class="text-decoration-none" >
                <img src="{% static 'hltv/img/hltv_img.png' %} " class="w-3">
                <h1>HLTV</h1>
            </a>
            
        </div>
        <div class="col-7 text-center text-warning">
            <h2 class="pt-5">Tyt mozhe bytu vasha reklama</h2>
        </div>
        
        
    </div>
    <br>
     
    <h1 class="text-light"> All Events ({{ all_events|length }})</h1>
    <br>
    <br>  
    
    <div class="row">
        <div class="col-2 text-light">
             SMTH
        </div>
        
        <div class="col-8 text-light ">
                <div class="row">
                {% for event in all_events %}
                <div class="row">
                    <div class="col-3">
                        <img src="{{ event.logo.url }}" width="100">
                        
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <a href="{{event.url_detail}}" class="text-decoration-none text-right">
                                <div class="row text-align-left text-danger">
                                    <h4>{{ event.name }}</h4>
                                </div>
                                <!-- <div class="row text-align-right text-dark">__________________________________________________________________________</div>
                                    <div class="text-warning">{{ match.tournament }}</div>
                                <div class="row text-align-left text-danger" >{{ match.team2 }}</div> -->
                                <br>
                                <br>
                                <br>
                            </a>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            {{ event.country }}
                        </div>
                        <div class="row">
                            {{ event.prize_pool }}$
                        </div>
                    </div>
                </div>
                
                {% endfor %} 
                <!-- <div class="col-4">
                    
                </div>
                
                </div> -->
            <br>
            
            </div>

        
      </div>
    <div class="col-2 text-light">
                SMTH
            </div>

    
      
    
</div> 

{% endblock %}